.list-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list-1 > li {
    margin-bottom: 1rem;
}
.grid-2 {
    display: grid;
    grid-template-columns: 26px auto;
    column-gap: 10px;
}
@media (max-width: 768px) {
   
    .grid-1 {
        display: grid;
        grid-template-columns: auto;
        row-gap: 20px;
    }

}
@media (min-width: 769px) {

.grid-1 {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 20px;
}

}